services:
  # Terena Web API
  webapi:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: terena-webapi
    env_file: [.env]
    environment:
      # ASP.NET Core
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
      - ASPNETCORE_URLS=${ASPNETCORE_URLS}

      # Database
      - ConnectionStrings__DefaultConnection=${CONNECTIONSTRINGS__DEFAULTCONNECTION}

      # Stripe
      - STRIPE_SECRET_KEY=${STRIPE_SECRET_KEY}

      # SMTP
      - SMTP_HOST=${SMTP_HOST}
      - SMTP_PORT=${SMTP_PORT}
      - SMTP_USERNAME=${SMTP_USERNAME}
      - SMTP_PASSWORD=${SMTP_PASSWORD}
      - FROM_EMAIL=${FROM_EMAIL}
      - FROM_NAME=${FROM_NAME}

      # RabbitMQ
      - RABBITMQ_HOST=${RABBITMQ_HOST}
      - RABBITMQ_PORT=${RABBITMQ_PORT}
      - RABBITMQ_USERNAME=${RABBITMQ_USERNAME}
      - RABBITMQ_PASSWORD=${RABBITMQ_PASSWORD}
      - RABBITMQ_VIRTUAL_HOST=${RABBITMQ_VIRTUAL_HOST}
    ports:
      - "${PORT}:5000"
    depends_on:
      - sql
      - rabbitmq
    restart: unless-stopped

  # SQL Server Database
  sql:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: terena-sqlserver
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=${SA_PASSWORD}
    ports:
      - "${MSSQL_PORT}:1433"
    volumes:
      - mssqldata:/var/opt/mssql

  # RabbitMQ Message Broker
  rabbitmq:
    image: rabbitmq:3-management
    container_name: terena-rabbitmq
    environment:
      - RABBITMQ_DEFAULT_USER=${RABBITMQ_USERNAME}
      - RABBITMQ_DEFAULT_PASS=${RABBITMQ_PASSWORD}
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmqdata:/var/lib/rabbitmq

volumes:
  mssqldata:
  rabbitmqdata:
